<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title ng-bind="title">App</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="/static/bower_components/bower-component.css">
  <link rel="stylesheet" href="/static/dist/css/style.css">

  <base href="/" />
</head>
<body ng-controller="AppCtrl">

  <header>
    <h1>App</h1>
  </header>

  <div ng-view></div>

  <footer>
    <p>Footer</p>
  </footer>

  <script src="/static/bower_components/bower-component.js"></script>
  <script src="/static/js/app.js"></script>
</body>
</html>