// Moduls
// Things like mixin declarations, functions, and variables.
@import "modules/colors";

html {
  position: relative;
  min-height: 100%;
  line-height: 1;
}

body {
  background-color: $tint-bg;
  color: $tint-color;
  font-family: 'Arial','Helvetica Neue','Helvetica',sans-serif;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: normal;
  text-align: left;
}

.content {
  margin: 20px auto 0;
  padding: 15px 0 0 0;
  width: 600px;
  text-align: left;
}

// Partials
// The partials directory is where the meat of my CSS is constructed.
@import "partials/footer";
@import "partials/header";

// Pages
@import "pages/home";
