<div class="content">
  <p>Calculate the pow by AngularJS</p>
  <form>
    <div class="form-group">
      <label for="baseNumber" class="control-label">Base number</label>
      <input type="number" class="form-control" 
      id="baseNumber" placeholder="Enter base" ng-model="baseNumber">
    </div>
    <div class="form-group">
      <label for="exponentNumber" class="control-label">Exponent number</label>
      <input type="number" class="form-control" 
      id="exponentNumber" placeholder="Enter exponent" ng-model="exponentNumber" >
    </div>
  </form>
  <pow base="baseNumber" exponent="exponentNumber"></pow>
</div>
